- var boards = {
-   "aobem": {
-     "name": "American Board of Osteopathic Emergency Medicine",
-     "friendly": "AOBEM",
-     "email": "aobem@osteopathic.org",
-     "phone": "(312) 202-8293",
-     "address": "142 E. Ontario St., Chicago, IL 60611",
-     "boardUrl": "https://aobem.org/index.shtml",
-     "logoSrc": "http://aoa-mnews.informz.net/aoa-mnews/data/images/cbs/logo-aobem.png",
-     "logoW": 440,
-     "logoH": 59
-   } 
- }
