- var recipient = [
-   {
-     last_name: "Simmons",
-     specialty: "Diagnostic Radiology",
-     cert_expiration: "Dec. 31, 2017",
-     board: "Radiology",
-     email: "psinco@osteopathic.org",
-   },
- ];
