- var exams = [
-  {
-    "date": "6/10/17",
-    "city": "Orlando",
-    "state": "FL",
-    "first_deadline": "4/10/17",
-    "final_deadline": "5/10/17",
-    "testing_center": "",
-    "url": "http://www.aobs.org/written-exam-procedures",
-    "date_ap": "June 10, 2017",
-    "first_deadline_ap": "April 10, 2017",
-    "final_deadline_ap": "May 10, 2017"
-  },
-  {
-    "date": "10/11/17",
-    "city": "National Harbor",
-    "state": "MD",
-    "first_deadline": "7/31/17",
-    "final_deadline": "8/31/17",
-    "testing_center": "",
-    "url": "http://www.aobs.org/written-exam-procedures",
-    "date_ap": "Oct. 11, 2017",
-    "first_deadline_ap": "July 31, 2017",
-    "final_deadline_ap": "Aug. 31, 2017"
-  },
-  {
-    "date": "10/12/17",
-    "city": "National Harbor",
-    "state": "MD",
-    "first_deadline": "8/11/17",
-    "final_deadline": "9/12/17",
-    "testing_center": "",
-    "url": "http://www.aobs.org/written-exam-procedures",
-    "date_ap": "Oct. 12, 2017",
-    "first_deadline_ap": "Aug. 11, 2017",
-    "final_deadline_ap": "Sept. 12, 2017"
-  }
- ]
