include ./includes/v2/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#f1f2f2")

      // EMAIL START
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            +logo('aobem')

        include ./includes/v2/banner

        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")

              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 14px 0px 12px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    +salutation('#466687', '%%name%%')
                    tr
                      td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" )
                        | Thank you for being board certified by the American Osteopathic Association.
                    tr
                      td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" )
                        | Please be advised that your Board Certification in %%specialty%% will expire %%expiration_ap%%.
                    tr
                      td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" )
                        | You must complete the following requirements to maintain your board certfication:
                    tr
                      td(class="padding")
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top" width="20")
                              | 1. 
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top")
                              | #[span(style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 16px; line-height: 26px;") Maintain an active medical license] in any of the US territories and/or Canada (will be verified once other components are complete).
                          tr
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top" width="20")
                              | 2. 
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top")
                              | #[span(style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 16px; line-height: 26px;") Complete CME Requirements.] #[a(href="https://physicianportal.osteopathic.org/TraCMEReport/DownloadTraCMEReport" style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: normal; font-size: 16px; line-height: 26px;" target="_blank") View your CME report] (log-in required).
                          tr
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top" width="20")
                              | 3. 
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top")
                              | #[span(style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 16px; line-height: 26px;") Pass the OCC exam.] You are eligible to take the exam in %%years%%.

                    tr
                      td(class="padding" align="center" width="300" style="padding: 10px 0px 20px 0px; font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: 200; font-size: 16px; line-height: 26px; text-transform: uppercase; letter-spacing: 1px;")
                        | Your OCC exam dates in 2017
                    +exam('#f1f2f2', '#466687', 'April 3, 2017', 'Las Vegas', 'Feb 1. 2017', 'March 1, 2017', 'https://cf.osteopathic.org/cbms/cbms_central/examsched/examschedtbl.cfm?board_id=118346', '#466687', 'Apply Now')
                    +exam('#f1f2f2', '#466687', 'May 17, 2017', 'Rosemont, Illinois', 'Feb 1. 2017', 'March 1, 2017', 'https://cf.osteopathic.org/cbms/cbms_central/examsched/examschedtbl.cfm?board_id=118346', '#466687', 'Apply Now')

                    tr
                      td(class="padding")
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top" width="20")
                              | 4. 
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top")
                              | #[span(style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 16px; line-height: 26px;") Complete Component 4] #[a(href="https://physicianportal.osteopathic.org/FiveComponents" style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: normal; font-size: 16px; line-height: 26px;" target="_blank") Practice Performance Assessment activity].
                    tr
                      td(class="padding")
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top" width="20")
                              | 5. 
                            td( align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" valign="top")
                              | #[span(style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 16px; line-height: 26px;") Maintain active AOA membership] (will be verified once other components are complete).
                    +close('aobem')

        tr
          td(align="center")
            +footer('aobem')
        tr
          td(style="padding: 0px 0px 36px 0px;")
